In [1]:
#print 0 to 20 using range

In [11]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
#print range 10 to 20

In [17]:
for num in range(10,20):
    print(num, end =" ")

10 11 12 13 14 15 16 17 18 19

In [18]:
#Print number of items in the list using 'len'

In [25]:
List2 = [10,20,14,55,43,87,76]
print(List2)
print("Number of items in the List2:")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:
7

In [30]:
word = "Artificial Intelligence"
print(word)
for letter in word:
    print(letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [31]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [1]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [3]:
Tuple1 = (0,1,2,3)
Tuple2 = ('Python','Hope')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [ ]:
#Print odd numbers in the list

In [4]:
list=(20,10,16,19,25,1,276,188)
for i in list:
    if i%2==1:
        print(i,"is odd ")

19 is odd
25 is odd
1 is odd

In [ ]:
#Print even numbers in the list

In [5]:
list=(20,10,16,19,25,1,276,188)
for i in list:
    if i%2==0:
        print(i,"is even ")

20 is even
10 is even
16 is even
276 is even
188 is even